*{
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    padding: 5px;
}


#wrapper {
    margin: 0 auto;
    height: 96vh;
    width: 60vw;
    background-color: lightslategrey;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 2px solid lightcyan;
    box-shadow: 0px 1px 20px 19px lightcyan, 0px 1px 5px 11px lightcyan inset;
}
/*-----page------*/
header {
    margin: 0 auto;
    height: 23%;
    width: 100%;
    text-align: center;
    align-items: center;
}
header *{
    margin: 5px;
    color: white;
}

header h1{
    margin-top: 8px;
    color: white;
    font-size: 3vw;
    text-shadow: -2px 2px 1px black;
}


header button {
    font-size: 2vh;
    border-radius: 5px;
    width: 18%;
    height: 5vh;
    background-color: #0079f7;
    cursor: pointer;
}

#timer {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    font-size: 3vh;
    color: red;
    font-weight: bold;
    letter-spacing: 0.2vw;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: -1px 1px 0px black;
}

section {
    margin-top: 5px;
    width: 100%;
    height: 76%;

}



/*-----------midlle section-----------*/

#middle {
    width: 50%;
    height: 96%;
    float: left;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.game-card {
    height: 22.8%;
    width: 22.8%;
    margin: auto;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
}


.front-img, .back-img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 2px solid white;
    border-radius: 10px;
    backface-visibility: hidden;
}

.game-card.flip {
    transform: rotateY(180deg);
    background-color: white;
    border-radius: 10px;
}

.front-img {
    transform: rotateY(180deg);
}
#winner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#winner-div {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 180%;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

/*-----------left section-----------*/
#left-side {
    position: relative;
    border: 2px solid #0026ff;
    text-shadow: -1px 1px 1px #0026ff;
    width: 20%;
    height: 96%;
    float: left;
}



#right-turn, #left-turn {
    height: 5vh;
    width: 100%;
    position: absolute;
    top: -15%;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 4.5vh;
}

/*-----------right section-----------*/
#right-side {
    position: relative;
    border: 2px solid #ffd800;
    width: 20%;
    height: 96%;
    float: right;
    text-shadow: -.5px .5px 1px #fffd8c;
    opacity: 0.6;
}

.rightSide.turn {
    background-color: lightsteelblue;
    box-shadow: 0 0 10px 3px #ffd800;
    opacity: 0.8;
}

.leftSide.turn {
    background-color: lightsteelblue;
    box-shadow: 0 0 10px 3px blue;
    opacity: 0.8;
}


#score-bord {
    text-align: center;
    margin-top: 10%;
    font-size: 2vw;
    color: #676a1d;
}
#score-bord p{
    font-size: 2vw;
    margin-top: 10vh;
}


#clear {
    clear: both;
}